/*primary colors used for page*/
:root {
  --accent: rgb(43, 135, 168);
  --primary: rgb(30, 58, 131);
  --aside: rgb(129, 5, 170);
  --text: white;
} 
/*overall set up for page*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  flex-wrap: wrap;
  font-family: serif;
}
/*overall layout of header*/
header {
  background: var(--primary);
  color: var(--accent);
  display: block;
  height: 100px;
}
/*image setting in header*/
#logo img {
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
  border-radius: 25px;
}

/*Header title*/
header h1 {
  color: var(--text);
  text-align: center;
}

/*nav bar settings*/
nav {
  display: flex;
  justify-content: end;
  color: var(--text);
  background-color: var(--primary);
  list-style: none;
  flex-wrap: wrap;
}

/*alignment of nav bar links*/
nav a {
  color: var(--text);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/*adds hover function*/
nav a:hover {
  background-image: linear-gradient(purple, rgb(4, 4, 125));
  color: var(--text);
  border-radius: 25px;
}

/*fuction for main section of page*/
main {
  display: flex;
  flex-wrap: wrap;
}

/*subheader layout*/
aside {
  background-color: var(--primary);
  color: var(--text);
  text-align: right;
  flex-wrap: wrap;
}

/*About me section header*/
article {
  font-weight: bolder;
  color: var(black);
  font-size: 25px;
  text-align: center;
  position: relative;
  flex-wrap: wrap;
}

/*Main section of projects*/
.Projects {
  border: 2px;
  display: flex;
  flex-wrap: wrap;
}

/*footer layout*/
footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content:space-between;
  background: var(--primary);
  color: var(--primary);
  margin-top: auto;
}

/*footer nav bar settings*/
footer li {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: var(--text);
  background-color: var(--primary);
  text-decoration: none;
  position: relative;
  padding: 14px 20px;
  list-style: none;
  flex-wrap: wrap;
}

/*picture settings for main image*/
.primary header {
  color: var(--text);
  border-radius: 25px 25px 0px 0px;
  display: flex;
  flex-wrap: wrap;
}

/*Contact me title*/
footer header {
  color: var(--text);
  text-align: left;
  display: block;
  font-size: 25px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}

/*border around main project*/
.primary {
  border: solid;
  margin: 100px;
  border-radius: 25px;
  flex: auto;
  background-color: var(--text);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: var(--text);
}

/*smaller section of the projects links*/
.project {
  flex: auto;
  background-color: var(--text);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: var(--text);
}

/*specific settings for project cart section*/
.project-card {
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px var(--primary);
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  border-color: black;
}

/*card layout*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
 
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px var(--primary);
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

/*cad header layout*/
.card header {
  padding: 10px;
  border-radius: 25px 25px 0px 0px;
  margin-bottom: -10px;
  color: var(--text);
  display: flex;
  flex-wrap: wrap;
}

h2 {
  color: var(--text);
}

/*project header layout*/
.project header {
  color: var(--text);
  display: flex;
  flex-wrap: wrap;
}

/*hover settign for project links*/
.project:hover,
.project-card:hover {
  box-shadow: inset 0px 0px 8px var(--primary) var(--accent); 
}

/*overall set up for page*/
@media screen and (max-width: 768px) {
  main,
  nav,
  .project,
  .project-card,
  .primary
  footer {
    flex-direction: column;
    max-width: 50%;
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 384px) {
    main,
    nav,
    .project,
    .project-card,
    .primary
    footer {
      flex-direction: column;
      max-width: 50%;
      flex: 0 0 50%;
      display: flex;
      flex-wrap: wrap;
    }

  /*overall set up for page*/
.project {
  flex: 0 0 33%;
  max-width: 33%;
}
}






